.title {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

button {
  width: 100%;
}

.contact-info {
  margin-bottom: 8px;
}

img {
  width: 50px;
}

@media screen and (max-width: 767px) {
  .input-form {
    margin-bottom: 30px;
  }

  .search-button {
    margin-bottom: 15px;
  }
}
